[Desktop Entry]
Name=@{application.name}
Comment=@{package.synopsis}
Type=Application
Exec=@{package.name}
Icon=@{package.name}
Terminal=false
StartupNotify=true
Categories=@{gnome.application.categories}
