Package: @{package.name}
Version: @{application.version}
Architecture: @{deb.arch}
Maintainer: @{package.maintainer}
Description: @{package.synopsis}
 @{package.description}
Homepage: @{package.homepage}
Section: utils
Priority: extra
