[Desktop Entry]
Name=FileBot
Comment=Rename Movies or TV Shows and download Subtitles
Type=Application
Exec=/opt/filebot/bin/filebot.sh
Icon=filebot
Terminal=false
StartupNotify=true
Categories=AudioVideo;Video;FileTools;Java
X-Ubuntu-Gettext-Domain=filebot
