[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=FileBot
Comment=The ultimate TV and Movie Renamer
Exec=/opt/filebot/bin/filebot.sh
Icon=/opt/filebot/icon.svg
Categories=AudioVideo;Video;Renamer
