[Desktop Entry]
Name=Subtitles
Tooltip=Fetch subtitles with FileBot
Icon=languages
Profiles=Media;

[X-Action-Profile Media]
Name=Subtitles
MimeTypes=inode/directory;video/*;
StartupNotify=true
Exec=filebot --mode Subtitles %F
