[Desktop Entry]
Name=Rename
Tooltip=Rename with FileBot
Profiles=Media;

[X-Action-Profile Media]
Name=Rename
MimeTypes=inode/directory;video/*;audio/*;
Exec=filebot --mode Rename %F
