[Desktop Entry]
Name=Subtitles
Tooltip=Fetch subtitles with FileBot
Profiles=Media;

[X-Action-Profile Media]
Name=Subtitles
MimeTypes=inode/directory;video/*;
Exec=filebot --mode Subtitles %F
