[Desktop Entry]
Name=Import to Media Library
Tooltip=Import to Media Library with FileBot
Profiles=Media;

[X-Action-Profile Media]
Name=Import to Media Library
MimeTypes=inode/directory;video/*;audio/*;
ExecutionMode=DisplayOutput
Exec=filebot -script fn:amc --output "$HOME/Media" --action duplicate -non-strict --log-file "$HOME/Media/amc.log" --def excludeList="$HOME/Media/amc.excludes" unsorted=y music=y artwork=y %F
