Source: filebot
Section: utils
Priority: extra
Maintainer: Reinhard Pointner <maintainer@filebot.net>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: http://www.filebot.net/

Package: filebot
Architecture: amd64 i386
Depends: 
Description: The ultimate TV and Movie Renamer
 FileBot is the ultimate tool for renaming your movies, 
 tv shows or anime and even downloading subtitles. 
 It's smart, streamlined for simplicity and just works. 
 Putting the super-efficient UI aside, it's also got a 
 full-featured command-line interface and scripting engine 
 for all sorts of automation. Anything is possible.

