#!/usr/bin/make -f

export DH_VERBOSE=1

%:
	dh $@

override_dh_install:
	dh_install --sourcedir=$(DEB_HOST_ARCH)

override_dh_shlibdeps:
	@echo "#ignore dh_shlibdeps"

override_dh_makeshlibs:
	@echo "#ignore dh_makeshlibs"

override_dh_strip:
	@echo "#ignore dh_strip"
