[Desktop Entry]
Name=FileBot
Comment=The ultimate TV and Movie Renamer / Subtitle Downloader
Type=Application
Exec=filebot
Icon=${SNAP}/meta/gui/icon.svg
Terminal=false
StartupNotify=true
Categories=AudioVideo;Video;Utility;FileTools;Java
X-Ubuntu-Gettext-Domain=filebot
