[Desktop Entry]
Name=@{application.name}
Comment=@{package.synopsis}
Type=Application
Exec=filebot
Icon=${SNAP}/meta/gui/icon.svg
Terminal=false
StartupNotify=true
Categories=@{gnome.application.categories}
X-Ubuntu-Gettext-Domain=@{package.name}
