[Desktop Entry]
Type=Application
Name=@{application.name}
Comment=@{package.synopsis}
MimeType=@{deb.application.mimetype}
Exec=filebot %F
Icon=${SNAP}/meta/gui/icon.svg
Categories=@{deb.application.categories}
Actions=Rename;Subtitles;Checksum;
StartupNotify=true
StartupWMClass=@{deb.application.class}
X-Ubuntu-Gettext-Domain=@{package.name}

[Desktop Action Rename]
Name=Rename
Exec=filebot --mode Rename %F
OnlyShowIn=Unity;

[Desktop Action Subtitles]
Name=Subtitles
Exec=filebot --mode Subtitles %F
OnlyShowIn=Unity;

[Desktop Action Checksum]
Name=Checksum
Exec=filebot --mode SFV %F
OnlyShowIn=Unity;
