# redirect to store
redirect 302 /files/FileBot.app https://itunes.apple.com/us/app/filebot/id905384638?mt=12&uo=6&at=1l3vupy&ct=link
redirect 302 /files/FileBot.appx https://www.microsoft.com/en-us/store/p/filebot/9nblggh52t9x?cid=link

# redirect to download location
redirect 302 /files/FileBot-setup.exe https://github.com/filebot/filebot-installer/releases/download/v1.0/FileBot-setup.exe
redirect 302 /files/FileBot_Subtitles_Installer.pkg https://downloads.sourceforge.net/project/filebot/filebot/LATEST/FileBot_Subtitles_Installer.pkg
redirect 302 /files/ https://sourceforge.net/projects/filebot/files/

# redirect phpBB FAQ link to FileBot FAQ page
redirect 302 /forums/faq.php https://www.filebot.net/forums/viewtopic.php?f=3&t=7

# redirect donate page
redirect 302 /donate.html https://app.filebot.net/donate.php

# redirect to support pages
redirect 302 /amc.html https://www.filebot.net/forums/viewtopic.php?f=4&t=215
redirect 302 /manual.html https://www.filebot.net/forums/viewtopic.php?f=3&t=7
redirect 302 /report.html https://www.filebot.net/forums/viewforum.php?f=6
redirect 302 /help.html https://www.filebot.net/forums/viewtopic.php?f=5&t=1868
redirect 302 /support.html https://www.filebot.net/forums/viewforum.php?f=8
redirect 302 /windows/support.html https://www.filebot.net/forums/viewforum.php?f=10
redirect 302 /mac/support.html https://www.filebot.net/forums/viewforum.php?f=12
redirect 302 /mac/subtitles.html https://www.filebot.net/forums/viewtopic.php?f=12&t=3350
redirect 302 /mac/brew.html https://www.filebot.net/forums/viewtopic.php?f=4&t=2049
redirect 302 /syno/support.html https://www.filebot.net/forums/viewforum.php?f=13
redirect 302 /channel.html https://discord.gg/cKVvZ2S


# redirect filebot.sourceforge.net to www.filebot.net
RewriteEngine on

RewriteCond %{HTTP_HOST} ^filebot\.net$ [OR]
RewriteCond %{HTTP_HOST} ^filebot\.sourceforge\.net$
RewriteRule ^(.*)$ http://www.filebot.net/$1 [R=301,L]
