redirect 301 /donate.html https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=Z8JHALZ4TXGWL&lc=US&item_name=FileBot%20Media%20Renamer&currency_code=EUR&bn=PP%2dDonationsBF%3abtn_donate_SM%2egif%3aNonHosted


RewriteEngine On
RewriteCond %{HTTP_HOST} =filebot.sourceforge.net [NC]
RewriteRule ^(.*)$ http://www.filebot.net/$1 [R=301,L]
