.galleria {
	list-style: none;
	width: 200px;
	height: 50px;
}

.galleria li {
	display: block;
	width: 80px;
	height: 80px;
	overflow: hidden;
	float: left;
	margin: 0 10px 10px 0
}

.galleria li a {
	display: none
}

.galleria li div {
	position: absolute;
	display: none;
	top: 0;
	left: 180px
}

.galleria li div img {
	cursor: pointer
}

.galleria li.active div img,.galleria li.active div {
	display: block
}

.galleria li img.thumb {
	cursor: pointer;
	top: auto;
	left: auto;
	display: block;
	width: auto;
	height: auto
}

.galleria li .caption {
	display: block;
	padding-top: .5em
}

/* MSIE bug */
* html .galleria li div span {
	width: 400px
}

* {
	margin: 0;
	padding: 0
}

body {
	padding: 20px;
	background: white;
	text-align: center;
	background: black;
	color: #bba;
	font: 80%/ 140% georgia, serif;
}

h1,h2 {
	font: bold 80% 'helvetica neue', sans-serif;
	letter-spacing: 3px;
	text-transform: uppercase;
}

a {
	color: #348;
	text-decoration: none;
	outline: none;
}

a:hover {
	color: #67a;
}

.caption {
	font-style: italic;
	color: #887;
}

.demo {
	position: relative;
	margin-top: 2em;
}

.gallery_demo {
	width: 800px;
	margin: 0 auto;
}

.gallery_demo li {
	width: 68px;
	height: 50px;
	border: 3px double #111;
	margin: 0 2px;
	background: #000;
}

.gallery_demo li div {
	left: 240px
}

.gallery_demo li div .caption {
	font: italic 0.7em/ 1.4 georgia, serif;
}

#main_image {
	margin: 0 auto 60px auto;
	height: 600px;
	width: 800px;
	background: black;
}

#main_image img {
	margin-bottom: 10px;
	border: 1px solid lightgray;
}